<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>RecoverRing</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Input Information</h1>-->
<!--	<div>-->
<!--	    <form action = "template" method='post'>-->
<!--	        <p>What is your name?</p>-->
<!--	        <input type="text" name ="name">-->
<!--	        <p>Tell us about your addiction</p>-->
<!--	        <input type="text" name ="prompt">-->
	       
<!--	        <button type="submit">Submit Answers</button>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RecoverRing</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="text-white bg-primary border rounded border-0 p-4 py-5">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex flex-column justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-lg-center justify-content-xl-center">
                        <div class="d-flex flex-column justify-content-lg-center align-items-lg-center" style="width: 100%;">
                            <h1>Welcome to RecoverRing</h1>
                            <p class="d-lg-flex justify-content-lg-center align-items-lg-center mb-4">Use this page to generate a custom recovery plan.&nbsp;</p>
                            
                            <form action = "template" method='post'>
                            
                            <p style="margin-bottom: -4px;">Enter your name here:</p>
                            <input type="text" style="margin: 10px;border-radius: 24px;" name ="name">
                            <p style="margin-bottom: -4px;">Enter your experience with addiction here. Be as detailed or minimal as you desire:</p>
                            <input type="text" style="margin: 10px;border-radius: 24px;" name ="prompt">
                            <button class="btn btn-light fs-5 py-2 px-4" type="submit" style="color: var(--bs-btn-disabled-color);margin: 10px;border-radius: 28px;border-color: var(--bs-emphasis-color);">Generate Recovery Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer">
        <div class="container">
            <div class="row d-lg-flex justify-content-lg-center">
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4" style="text-transform: none;">About RecoverRing</h4>
                    <p class="lead mb-0"><span>AI powered, socially supported addiction recovery. We're here for you &lt;3</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-white copyright py-4">
        <div class="container"><small>Copyright ©&nbsp;RecoverRing 2024</small></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/freelancer.js"></script>
</body>

</html>